{% extends "base.html" %}
{% block title %}Youv'e logged in {% endblock %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/logged_in.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1>Attendance</h1>

    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Present</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for record in attendance_records %}
            <tr>
                <td>{{ record.date }}</td>
                <td>{{ record.present }}</td>
                <td>
                    {% if record.present %}
                    <form action="/attendance" method="post">
                        <input type="hidden" name="date" value="{{ record.date }}">
                        <button type="submit">Revoke Attendance</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}