{% block content %}
<html lang="en">
<head>
    <head>
        <title>Compensation</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/attendance.css') }}">
        <link rel="stylesheet" href="../static/attendance.css">
        <link rel="stylesheet" href="../static/nav_button.css">
        <link rel="stylesheet" href="../static/download_button.css">
        <link rel="stylesheet" href="../static/cop_table.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
</head>
<body>
    <!-- shold be a carousle which will allow to switch between pages -->
    <!-- When Was The Change?	Currency	Monthly Fixed CTC	Total CTC	Base CurrencyCTC (₹)	Variable Pay	Salary Structure	Annual/Monthly	Action	CTC Proration -->
    <!-- Should be populated inside a table -->
    <!-- CTC Proration -->
    <!-- SALARY COMPONENTS	Basic	HRA	LTA	Provident Fund	Food Coupons	Mobile and Internet Allowance	Professional Development Allowance	Special Allowance	Office Attire	CTC	Standard Performance Bonus(IN Total CTC)	Total CTC
 -->
    <!-- should be a form -->
    
    <!-- Inside the <body> tag of compensation.html -->
    <div class="container" style="text-align: center;margin-top: 100px;">

        <div class="text-center" style="margin-top: 20px;">
            <p>Hello You have Logged in as {{ email }}</p>
            
        </div>

        <div class="container" style="margin-top: 20px;">
            <h2>Compensation Data</h2>
            <table class="table-responsive-sm">
                <thead>
                    <tr>
                        <th>Employee ID</th>
                        <th>Date of Change</th>
                        <th>Monthly Fixed CTC</th>
                        <th>Total CTC</th>
                        <th>Variable Pay</th>
                        <th>Annual/Monthly</th>
                        <th>CTC Proration</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in data %}
                    <tr>
                        <td>{{ record.Employee_ID }}</td>
                        <td>{{ record['Date when it was changed'] }}</td>
                        <td>{{ record['Monthly Fixed CTC'] }}</td>
                        <td>{{ record['Total CTC'] }}</td>
                        <td>{{ record['Variable Pay'] }}</td>
                        <td>{{ record['AnnualMonthly'] }}</td>
                        <td>{{ record['CTC Proration'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="container_button-pro" style="text-align: center;margin-top: 40px;">
            <button class="button-pro" role="button"><a href="/ctcpro" style="color: #e8e8f3;">CTC Proration</a></button>
        </div>

        <div class="container_nav">
            <br>
            <br>
            <div class="menu_nav" onclick="this.classList.toggle('open')">

                <div class="button_nav" onclick="redirectToLoggedIn()"></div>
                <script>
                    function redirectToLoggedIn() {
                        window.location.href = '/logged_in';
                    }
                </script>

                <div class="button_nav" onclick="redirectToLogout()" style="background: url('../static/logout.svg') no-repeat 50%/ 50% #e8e8f3;"></div>
                <script>
                    function redirectToLogout() {
                        window.location.href = '/logout';
                    }
                </script>

                

                <!-- <div class="button_nav" onclick="redirectToLeave()"></div>
                <script>
                    function redirectToLeave() {
                        window.location.href = '/leaves';
                    }
                </script> -->
            </div>
        </div>
    </div>

   


</body>
</html>
{% endblock %}
